body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(110deg, black 60%, #e87194 60%) !important;
  font-family: "Hind Siliguri", sans-serif;
}

* {
  color: #474747 !important;
  font-family: "Hind Siliguri", sans-serif !important;
}

p {
  font-family: "Hind Siliguri", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
}
