/* Container Styling */

.randomCocktailContainer {
  font-size: 25px;
  padding-left: 3%;
  word-wrap: break-word;
}

.image {
  width: 380px;
  height: 300px;
  float: right;
  border-radius: 25px;
  margin-right: 5%;
}

/* Text Styling */
.cocktailInfo {
  width: 50%;
  color: white !important;
}

h2 {
  font-size: 30px;
  text-decoration: underline;
  color: white !important;
}

.heading {
  font-size: 45px;
  font-weight: 900;
  color: white !important;
}

/* Button Styling */
.saveCocktailButton {
  float: right;
  margin-right: 13%;
  padding: 10px 25px;
  font-weight: 500;
  background: black;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white !important;
  border: 2px solid rgb(255, 255, 255);
  z-index: 1;
}

.buttonStyle {
  float: right;
  margin-right: 11%;
  padding: 10px 25px;
  font-weight: 500;
  background: black;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white !important;
  border: 2px solid rgb(255, 255, 255);
  z-index: 1;
}

.homePageButton {
  position: relative;
  display: inline-block;
  padding: 30px 61px;
  border-radius: 4px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  margin: 25px;
  font-family: "Roboto", sans-serif;
  filter: hue-rotate(0deg);
  border: 2px solid #d2bdff;
  transition: all 0.1s linear;
}
.submitButtonMessage {
  float: right;
  color: white !important;
  margin-right: 15%;
}

/* Media Queries */
@media screen and (max-width: 480px) {
  .image {
    width: 180px;
    height: 180px;
  }
}

@media screen and (max-width: 480px) {
  .randomCocktailContainer {
    font-size: 2vh;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 2.5vh;
  }
}

@media screen and (max-width: 480px) {
  .heading {
    font-size: 3vh;
  }
}
